name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Setup NodeJS
        uses: actions/setup-node@v3
      
      - name: Install dependencies
        run: npm install
      
      - name: Build
        run: rm -rf dist && npm run build

      - name: Update
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update dist"
          commit_user_name: xtex Bot
          commit_user_email: bot@xtexx.ml
          commit_author: xtex Bot <bot@xtexx.ml>
          
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Init
        run: |
          git init
          touch test
          git add test
          git config --global user.email "test-hardwork-action@xtexx.ml"
          git config --global user.name "Test"
          git commit -m "init test repo"
          git branch -m main
      
      - name: Test 1
        uses: xtexChooser/hardwork-action@main
        with:
          name: Test1
          email: test-hardwork-action1@xtexx.ml
      
      - name: Test 2
        uses: xtexChooser/hardwork-action@main
        with:
          name: Test2
          email: test-hardwork-action2@xtexx.ml

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: repo
          path: .git

      - name: Dump log
        run: |
          git log --all
